@media (min-width: 768px) {
  body {
    max-width: 375px; /* Set to the width of a typical mobile screen */
    margin: 0 auto; /* Center the content */
  }
}
.image-with-glow:hover,
.image-with-glow:focus {
  filter: drop-shadow(0 0 10px yellow);
}
.oval-text {
  shape-outside: ellipse(50% 50% at 50% 50%); /* Define an ellipse shape */
  width: 50%; /* Adjust the width of the text area */
}
/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 50%;
  background-color: transparent;
  border-radius: 8px;
  overflow: auto;
  z-index: 9999;
  padding: 20px;
}

.popup-photo {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 50%;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Semi-transparent white background */
  border-radius: 8px;
  overflow: auto;
  z-index: 9999;

  /* Frosted glass effect */
  backdrop-filter: blur(10px) brightness(80%);
}

.popup-phone {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  min-height: 50%;
  background-color: transparent;
  border-radius: 8px;
  overflow: auto;
  z-index: 50;
  padding: 20px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 9999;
  width: 15%;
}

#balloon-container {
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: transparent;
  transition: opacity 500ms;
  position: absolute;
  pointer-events: none;
  z-index: 99999;
  /* Make sure the balloons are above the popup */
}

.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: "▲";
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }

  to {
    transform: translateY(-300vh);
    opacity: 1;
  }
}
